@model EntityLayer.Concrete.UnitType
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="pointer-events: none; user-select: none;">Birim Cinsi Güncelleme Sayfası</h1>
<div class="card mx-6 my-6">
    <div class="card-body">
        <div class="table-responsive">
            <form method="post">
                <label>ID</label>
                <input type="text" class="form-control border" asp-for="UnitTypeId" readonly></input>
                <br />
                <label>Birim Cinsi</label>
                <input type="text" class="form-control border" asp-for="Name"></input>
                <br />
                <button class="btn btn-info"><i class="fa-solid fa-rotate" style="color: #0edd12;"></i>&nbsp;&nbsp; Güncelle</button>
                <a href="/UnitType/Index" class="btn btn-primary float-right">Vazgeç</a>
            </form>
        </div>
    </div>
</div>