@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mx-6 my-6">
    <div class="card-header pb-0">
        <h5>Yeni Ürün Ekleme Sayfası</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post">
                <input type="hidden" class="form-control border" asp-for="ProductId" readonly>
                <label>Ürün Kodu</label>
                <input type="text" class="form-control border" asp-for="Code">
                <br />
                <label>Adı</label>
                <input type="text" class="form-control border" asp-for="Name">
                <br />
                <label>Firma</label>
                <select asp-for="Company" class="form-control" asp-items="@ViewBag.companyList"></select>
                <br />
                <label>Resim</label>
                <input type="text" class="form-control border" asp-for="Image">
                <br />
                <button class="btn btn-info"><i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp; Kaydet</button>
                <a href="/Product/Index" class="btn btn-primary float-right">Vazgeç</a>
            </form>
        </div>
    </div>
</div>