@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mx-6 my-6">
    <div class="card-header pb-0">
        <h5>Ürün Güncelleme Sayfası</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post">
                <input type="hidden" class="form-control border" asp-for="ProductId" readonly>
                <label>Ürün Kodu</label>
                <input type="text" class="form-control border" asp-for="Code">
                <span asp-validation-for="Code" class="text-danger"></span>
                <br />
                <label>Adı</label>
                <input type="text" class="form-control border" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />
                <label>Firma</label>
                <select asp-for="CompanyId" class="form-control" asp-items="@ViewBag.companyList"></select>
                <br />
                <label>Resim</label>
                <input type="text" class="form-control border" asp-for="Image">
                <span asp-validation-for="Image" class="text-danger"></span>
                <br />
                <label>Durum</label>
                <select asp-for="Status" class="form-control" asp-items="@ViewBag.statusList"></select>
                <br />
                <button class="btn btn-info"><i class="fa-solid fa-rotate"></i>&nbsp;&nbsp; Güncelle</button>
                <a href="/Product/Index" class="btn btn-primary float-right">Vazgeç</a>
            </form>
        </div>
    </div>
</div>