@model List<WebScraperViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row mb-5">
        <div class="col-md-7">
            <div class="text-center text-white mt-8">
                <p class="fs-3 fw-medium">MATEC Web Sitesi Ürün ve Stok Bilgisi</p>
            </div>
        </div>
        <div class="col-md-5 mt-4">
            <img src="https://docs.tuyap.online/KBF/Resim3083/136117.jpg" class="img-fluid float-right rounded-circle w-50" alt="Resim">
        </div>
    </div>
    <div class="row">
        @foreach (var x in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="@x.Image" class="card-img-top mx-auto d-block" style="width: auto; height: 150px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">@x.Name</h5>
                        <h6 class="card-text text-center">@x.Code</h6>
                        <p class="card-text text-center">@x.Stock</p>
                        <a href="#" class="btn btn-secondary w-100">Detay</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
