@model EntityLayer.Concrete.Company
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mx-6 my-6">
    <div class="card-header pb-0">
        <h5>Yeni Firma Ekleme Sayfası</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <form method="post">
                <input type="hidden" class="form-control border" asp-for="CompanyId" readonly>
                <label>Firma Adı</label>
                <input type="text" class="form-control border" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />
                <button class="btn btn-info"><i class="fa-regular fa-floppy-disk"></i>&nbsp;&nbsp; Kaydet</button>
                <a href="/Company/Index" class="btn btn-primary float-right">Vazgeç</a>
            </form>
        </div>
    </div>
</div>